@{
    ViewBag.Title = "关于";
}

<h2>关于</h2>
<p>
     示例项目
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">导航</li>
    <li>@Html.ActionLink("首页", "Index", "Home")</li>
    <li>@Html.ActionLink("联系", "Contact", "Home")</li>
</ul>