@{
    ViewBag.Title = "联系";
}

<h2>联系</h2>

<h3>qq</h3>
<span>471226865</span>

<h3>Email</h3>
<span><a href="mailto:442518843@qq.com">442518843@qq.com</a></span>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">导航</li>
    <li>@Html.ActionLink("首页", "Index", "Home")</li>
    <li>@Html.ActionLink("关于", "About", "Home")</li>
</ul>